*, *::after, *::before {
  box-sizing: border-box;
}
td, th, tr {
  border: 1px solid black;
  padding: 0px 5px;
}
li {
  margin-left: 20px;
}
button{
  background-color: transparent;
  border: none;
  margin-right: 3px;
}
button:hover{
  fill: brown;
  transition: .2s ease-in;
}
textarea{
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: none;
  background-color: inherit;
}
pre{
  border: 1px solid black;
  overflow: scroll;
  background-color: white;
}
code{
  background-color: white;
}
blockquote{
  margin-left: 20px;
  padding-left: 3px;
  border-left: 2px solid black;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: brown;
  transition: .2s ease-in;
}

#container{
  background-color: #d8c0a0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.App {
  margin: 1.5vh 0;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 60%;
  align-items: center;
  justify-content: center;
}
#mark{
  box-shadow: 0px 0px 5px black;
  background-color: inherit;
  filter: brightness(1.2);
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
  transition: .3s ease-in;
}
#prev{
  box-shadow: 0px 0px 5px black;
  background-color: inherit;
  filter: brightness(1.2);
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
  transition: .3s ease-in;
}
#preview{
  background-color: inherit;
  border: 1px solid black;
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.header{
  padding-left: 5px;
  background-color: inherit;
  filter: brightness(0.8);
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#preview a{
  color: blue;
}
#preview a:hover{
  color: brown;
  transition: .2s ease-in;
}